body {
  background-color: #25480b6b;
  background-image: url(../img/nikukyuu.png); /* パスを修正 */

}

.main-container {
  padding-top: 10px;
  margin: 0 90px;
  grid-template-columns: 7fr 3fr;
}

.title-container{
  display: block;
}

.title-container{
  padding:11px 9px;
}

.top-title{
  border-left:7px solid gray;
  font-size: 30px;

}

/* 親要素: .main-flex */
.main-flex {
  display: flex;         /* フレックスコンテナとして設定 */
  flex-wrap: wrap;       /* 画面幅に応じて折り返す */
  justify-content: center; /* 子要素を中央に寄せる */
  gap: 20px;             /* アイテム間の隙間を20pxに設定 */
}

/* 子要素: .main-flex内のdiv */
.main-flex > div {
  /* 4つ横に並べるための幅設定 */
  width: calc(25% - 15px); /* 100% / 4 - 隙間の調整 */
  max-width: 250px; /* アイテムの最大幅を設定（PC向け） */
  text-align: center;
}

.myprofile-img {
  width: 20vw;
  height: 15vw;
  margin: 0 auto;
  display: inline;
}