/* reset */
body,
html,
div,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}



h1 {
  background-color: wheat;
  color: blue;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
}

ul {
  width: 300px;
  margin: 20px auto;
  list-style: none;
}

.btn-box {
  text-align: center;
}

.btn-box button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-box button:hover {
  opacity: .7;
}

#retry-button {
  background-color: rgb(0, 66, 128);
  color: rgb(224, 230, 233);
  border: none;
  display: block;
  margin: 0 auto;
  text-align: center;

}